<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <div class="center">
      <form method="post" action="post">
        {% csrf_token %}
        <label>Enter the name: </label>
        <input type="text" name="name" />
        <input type="submit" />
      </form>
      <hr />
      {% for obj in queryset %} {{ obj.id }} {{ obj.name }} {{ obj.created_at }}
      <br />
      {% endfor %}
    </div>

    <!-- <h1>Plain data</h1> -->
  </body>
</html>
